@page "/formvalidation"

<h4>Form Validation</h4>

<EditForm Model="@edInsurance" OnValidSubmit="@ValidateAndSubmit">
    <DataAnnotationsValidator/>
    
    <div>
        <label for="InsuranceName">Insurance Name</label>
        <InputText id="InsuranceName" @bind-Value="@edInsurance.InsuranceName"/>
        <ValidationMessage For="() => edInsurance.InsuranceName" />
    </div>
    <div>
        <label for="Caption">Caption</label>
        <InputText id="Caption" @bind-Value="@edInsurance.Caption" />
        <ValidationMessage For="() => edInsurance.Caption" />
    </div>
    <div>
        <label for="DOB">Date of Birth</label>
        <InputDate id="DOB" @bind-Value="@edInsurance.DOB" />
        <ValidationMessage For="() => edInsurance.DOB" />
    </div>
    <div>
        <label for="IsEmployeeExists">Is Employee Exists</label>
        <InputCheckbox id="IsEmployeeExists" @bind-Value="@edInsurance.IsEmployeeExists" />
        <ValidationMessage For="() => edInsurance.IsEmployeeExists" />
    </div>
    <div>
        <label for="Code">Code</label>
        <InputNumber id="Code" @bind-Value="@edInsurance.Code" />
        <ValidationMessage For="() => edInsurance.Code" />
    </div>

    <input type="submit" class="btn btn-primary" />
</EditForm>

@code {
    private EDInsurance edInsurance = new EDInsurance();

    private void ValidateAndSubmit()
    {

    }

}