@page "/createemployee"
@inherits CreateEmployeeBase

<h4>Create New Employee Record</h4>
<hr />

<form>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <label for="Name">Name</label>
                <input id="Name" class="form-control" @bind="@employee.EmployeeName" />
            </div>
            <div class="form-group">
                <label for="Department">Department</label>
                <input id="Department" class="form-control" @bind="@employee.Department" />
            </div>
            <div class="form-group">
                <label for="Salary">Salary</label>
                <input id="Salary" class="form-control" @bind="@employee.Salary" />
            </div>
            <div class="form-group">
                <label for="DOB">Date Of Birth</label>
                <input id="DOB" class="form-control" @bind="@employee.DOB" @bind:format="dd/MM/yyyy" />
            </div>
            <div class="form-group">
                <label for="City">City</label>
                <select id="City" class="form-control" @bind="@employee.City">
                    <option value="">--Select City</option>
                    @foreach (string strOption in DropDownValues)
                    {
                        <option value="@strOption">@strOption</option>
                    }
                </select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8">
            <div class="form-group">
                <input type="button" class="btn btn-primary" @onclick="@CreateNewEmployee" value="Save" />
                <input type="button" class="btn" @onclick="@Cancel" value="Cancel" />
            </div>
        </div>
    </div>
</form>
